// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here
$blue: hsl(220, 50%, 60%);

$custom-themes: (
  "royal": #325de9,
  "frosty": #32bbe9,
  "turquoise": #32e9bb,
  "malachite": #32e960,
  "lime": #60e932,
  "pear": #bbe932,
  "sunrise": #e9be32,
  "carrot": #e96332,
  "cherry": #e9325d,
  "fuchsia": #e932b8,
  "orchid": #be32e9,
  "violet": #6332e9,
);
$min-contrast-ratio: 1;

//Основная карта цветов
$primary-hue: 210;
$primary-saturation: 43%;
$primary-lightness: 56%;

$basic-theme: (
  "primary": hsl($primary-hue, $primary-saturation, $primary-lightness),
  "secondary":
    hsl(
      subtract($primary-hue, 12),
      add($primary-saturation, 5%),
      add($primary-lightness, 36%)
    ),
  "info":
    hsl(
      subtract($primary-hue, 31),
      add($primary-saturation, 57%),
      add($primary-lightness, 38%)
    ),
);

$basic-pull: "primary", "secondary", "info";

$basic-palette: (
  "red": #f00,
  "green": #0f0,
  "blue": #00f,
);

@function create-palette($names, $colors) {
  $_map: ();

  @each $name in $names {
    @each $key, $value in $colors {
      $_map: map-merge($_map, ($key: $value));
    }
  }

  @return $_map;
}

//@function map-loop($map, $func, $args...) {
//  $_map: ();
//
//  @each $key, $value in $map {
//    // allow to pass the $key and $value of the map as an function argument
//    $_args: ();
//    @each $arg in $args {
//      $_args: append($_args, if($arg == "$key", $key, if($arg == "$value", $value, $arg)));
//    }
//
//    $_map: map-merge($_map, ($key: call(get-function($func), $_args...)));
//  }
//
//  @return $_map;
//}

// 3. Include remainder of required Bootstrap stylesheets
@import "../node_modules/bootstrap/scss/variables";

// Merge the maps
$theme-colors: map-merge($theme-colors, $custom-themes);
$theme-colors-rgb: map-loop($theme-colors, to-rgb, "$value");
$utilities-colors: $theme-colors-rgb;

$utilities-text: map-merge(
  $utilities-colors,
  (
    "black": to-rgb($black),
    "white": to-rgb($white),
    "body": to-rgb($body-color),
  )
);
$utilities-text-colors: map-loop($utilities-text, rgba-css-var, "$key", "text");
$utilities-bg: map-merge(
  $utilities-colors,
  (
    "black": to-rgb($black),
    "white": to-rgb($white),
    "body": to-rgb($body-bg),
  )
);
$utilities-bg-colors: map-loop($utilities-bg, rgba-css-var, "$key", "bg");

@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/root";

// 4. Include any optional Bootstrap CSS as needed
@import "../node_modules/bootstrap/scss/utilities";
@import "../node_modules/bootstrap/scss/reboot";
//@import "../node_modules/bootstrap/scss/type";
//@import "../node_modules/bootstrap/scss/images";
@import "../node_modules/bootstrap/scss/containers";
//@import "../node_modules/bootstrap/scss/grid";
//@import "../node_modules/bootstrap/scss/helpers";

//@import "../node_modules/bootstrap/scss/tables";
//@import "../node_modules/bootstrap/scss/forms";
@import "../node_modules/bootstrap/scss/buttons";
//@import "../node_modules/bootstrap/scss/transitions";
//@import "../node_modules/bootstrap/scss/dropdown";
//@import "../node_modules/bootstrap/scss/button-group";
//@import "../node_modules/bootstrap/scss/nav";
//@import "../node_modules/bootstrap/scss/navbar";
//@import "../node_modules/bootstrap/scss/card";
//@import "../node_modules/bootstrap/scss/accordion";
//@import "../node_modules/bootstrap/scss/breadcrumb";
//@import "../node_modules/bootstrap/scss/pagination";
@import "../node_modules/bootstrap/scss/badge";
//@import "../node_modules/bootstrap/scss/alert";
//@import "../node_modules/bootstrap/scss/progress";
//@import "../node_modules/bootstrap/scss/list-group";
//@import "../node_modules/bootstrap/scss/close";
//@import "../node_modules/bootstrap/scss/toasts";
//@import "../node_modules/bootstrap/scss/modal";
//@import "../node_modules/bootstrap/scss/tooltip";
//@import "../node_modules/bootstrap/scss/popover";
//@import "../node_modules/bootstrap/scss/carousel";
//@import "../node_modules/bootstrap/scss/spinners";
//@import "../node_modules/bootstrap/scss/offcanvas";
//@import "../node_modules/bootstrap/scss/placeholders";

// 5. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
@import "../node_modules/bootstrap/scss/utilities/api";

// 6. Add additional custom code here

#app {
  --bs-primary-rgb: 250, 136, 204;
  //display: flex;
  //align-items: center;
  padding: 0.5rem;

  & > *:not(:last-child) {
    margin-right: 0.5rem;
  }
}
